@import url("https://fonts.googleapis.com/css?family=Bungee|Hind|PT+Sans|Pacifico|Poppins|Lobster");


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
  --tomato-color: #ff433d;
  --yellow-color: #ffb347;
  --megenta-color: rgba(168, 2, 168, 0.897);
  --lime-color: rgba(8, 248, 80, 0.932);
  --light-orange: #ff6215;
  --poppins: "Poppins", sans-serif;
  --bungee: "Bungee", cursive;
  --lobster: "Lobster", cursive;
  --pacifico: "Pacifico", cursive;
}


